h1 {
    margin-bottom: 30px;
}

mat-form-field {
    display: block;
    width: 100%;
}

main {
    padding: 0 40px 40px;
}

.formGroup {
    width: 250px;
}

button {
    margin-top: 15px;
}

@media screen and (min-width: 600px) {
    .formGroup {
        width: 350px;
    }
}