@use '@angular/material' as mat;
@import '../../../styles.scss';

$primary: mat.get-theme-color($irenke-csempeboltja-theme, primary, default);
$accent: mat.get-theme-color($irenke-csempeboltja-theme, accent, 900);
$light-accent: mat.get-theme-color($irenke-csempeboltja-theme, accent, 600);

.main {
    display: flex;
    margin-top: 48px;
    background-color: $accent;
    color: lightgrey;
    height: 8vh;
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px black);
}
