<div class="main">
    <h1>Országunk nemesei!</h1>
    <div fxLayout="row wrap" fxLayoutGap.sm="16px" fxLayoutGap="32px" fxLayout.xs="column center">
        <mat-card fxFlex class="example-card">
            <mat-card-header>
                <img mat-card-image src="assets/main/main_our_team_1.jpg" alt="Photo of the one and only Hunyadi Mátyás!">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>Hunyadi Mátyás</mat-card-title>
                <mat-card-subtitle>Hadügyminiszter</mat-card-subtitle>
                <p>
                    Mátyás úgy helyezi el a csempéket, mintha egy középkori csatát rendezne,
                     ahol minden egyes darabnak megvan a maga fontos szerepe.
                     Azt mondják, hogy a csempéi olyan erősek, mint a nándorfehérvári vár falai.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex class="example-card">
            <mat-card-header>
                <img mat-card-image src="assets/main/main_our_team_2.jpg" alt="Photo of the one and only Bethlen Gábor!">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>Bethlen Gábor</mat-card-title>
                <mat-card-subtitle>Gazdaságügyi miniszter</mat-card-subtitle>
                <p>
                    Gábor mindig a legjobb üzleteket köti meg, és úgy kezeli a cég anyagi ügyeit, 
                    mintha csak a fejedelemség pénztárnoka lenne. 
                    Azt mondják, még a betont is meg tudná győzni, hogy olcsóbban adjon magát.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex class="example-card">
            <mat-card-header>
                <img mat-card-image src="assets/main/main_our_team_3.jpg" alt="Photo of the one and only Kossuth Lajos!">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>Kossuth Lajos</mat-card-title>
                <mat-card-subtitle>Kommunikációs miniszter</mat-card-subtitle>
                <p>
                    Lajos a szavak mestere, aki képes a csempéket is meggyőzni arról, 
                    hogy jobban ragadjanak a falra. 
                    Olyan meggyőző, hogy a csempék szinte maguktól helyezkednek 
                    el a kívánt pozícióban.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>