<h1>Ajánlataink egy birodalom felépítéséhez!</h1>
<div class="main" fxLayout="row wrap" fxLayoutGap="10px">
    @for (image of imagesObs | async; track images) {
        <mat-card fxFlex>
            <img src="{{image.imgUrl}}" alt="">
            <mat-card-header>
                <mat-card-title>{{image.name}}</mat-card-title>
                <mat-card-subtitle>{{image.type}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="card-content">
                    <p>{{image.cost}} Ft/db</p>
                    <button mat-raised-button color="primary" (click)="addItemToCart(image.id)">Kosárba</button>
                </div>
            </mat-card-content>
        </mat-card>
    }
      
</div>
