<div class="main">
    <h1>Birodalmi szolgáltatásaink!</h1>
    <div class="flex" fxLayout="row wrap" fxLayoutGap.gt-md="16px">
        <mat-card fxFlex *ngFor="let image of [0,1,2]">
            <mat-card-header>
                <mat-icon>grid</mat-icon>
                <mat-card-title>Csempefelrakás</mat-card-title>
                <mat-card-subtitle>
                    <mat-divider></mat-divider>
                        <p>
                            A csempebirodalom gyalogai személyesen felrakják Ön számára a megvásárolt csempéket!
                            Ön csak dőljön hátra a trónján, és élvezze ahogyan a pénzéből gyönyötűséget teremtett.
                            A szolgáltatás igénybevételéhez vegye fel a kapcsolatot munkatársainkkal.
                        </p>
                    <mat-divider></mat-divider>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="card-content">
                    <p>2000 Ft/m<sup>2</sup></p>
                    <button mat-flat-button color="accent">Kapcsolat felvétel</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>