<mat-sidenav-container>
    <mat-sidenav position="end" #sidenav>
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content color="primary" cdkScrollable>
        <mat-toolbar color="primary" [ngClass]="{'opaque': isOnTop}">
            <h1>Csempebirodalom</h1>
            <mat-button fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.gt-xs mat-icon-button (click)="toggleSideNav(sidenav)">
                <mat-icon>menu</mat-icon>
            </mat-button>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="32px" class="navItems">
                    <li><a routerLink="main">Kezdőlap</a></li>
                    <li><a routerLink="shop">Áruház</a></li>
                    <li><a routerLink="cart">Kosár</a></li>
                    <li><a routerLink="admin">Admin</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
<mat-sidenav-container>
