mat-sidenav-container {
    height: 100vh;
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 99;
    justify-content: center;
    transition: all .2s;
    padding-right: 40px;
}

.opaque {
    background-color: transparent;
}

a{
    text-decoration: none;
    color: white;
    transition: all .2s;
}

ul {
    transition: all .2s;
}

ul a:hover {
    color: lightcyan;
    font-size: 1.2em;
    text-decoration: underline;
}

ul:hover a:not(:hover) {
    filter: brightness(90%) blur(.8px);
}

mat-icon {
    display: block;
}

mat-button {
    margin-right: 16px;
}

.navItems {
    text-decoration: none;
    list-style-type: none;
}